<a href="https://colab.research.google.com/github/tharun-229/_ADM/blob/main/assigment-6.2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
data = pd.read_csv('/content/Mall_Customers.csv')

print(data)

     CustomerID   Genre  Age  Annual_Income_(k$)  Spending_Score
0             1    Male   19                  15              39
1             2    Male   21                  15              81
2             3  Female   20                  16               6
3             4  Female   23                  16              77
4             5  Female   31                  17              40
..          ...     ...  ...                 ...             ...
195         196  Female   35                 120              79
196         197  Female   45                 126              28
197         198    Male   32                 126              74
198         199    Male   32                 137              18
199         200    Male   30                 137              83

[200 rows x 5 columns]

In [20]:
import pandas as pd
data = pd.read_csv('/content/Mall_Customers.csv')

missing_values = data.isnull().sum()
print("Missing values in each column:\n", missing_values)

missing_percentage = (missing_values / len(data)) * 100
print("\nPercentage of missing values in each column:\n", missing_percentage)

Missing values in each column:
 CustomerID            0
Genre                 0
Age                   0
Annual_Income_(k$)    0
Spending_Score        0
dtype: int64

Percentage of missing values in each column:
 CustomerID            0.0
Genre                 0.0
Age                   0.0
Annual_Income_(k$)    0.0
Spending_Score        0.0
dtype: float64

In [21]:
data = pd.read_csv('/content/Mall_Customers.csv')

numerical_data = data.select_dtypes(include=['number'])

mean_values = numerical_data.mean()
median_values = numerical_data.median()
mode_values = numerical_data.mode().iloc[0]

# Print the results
print("Mean values for numerical columns:\n", mean_values)
print("\nMedian values for numerical columns:\n", median_values)
print("\nMode values for numerical columns:\n", mode_values)

Mean values for numerical columns:
 CustomerID            100.50
Age                    38.85
Annual_Income_(k$)     60.56
Spending_Score         50.20
dtype: float64

Median values for numerical columns:
 CustomerID            100.5
Age                    36.0
Annual_Income_(k$)     61.5
Spending_Score         50.0
dtype: float64

Mode values for numerical columns:
 CustomerID             1.0
Age                   32.0
Annual_Income_(k$)    54.0
Spending_Score        42.0
Name: 0, dtype: float64

In [28]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
data = pd.read_csv('/content/Mall_Customers.csv')
print("Column names in the dataset:")
print(data.columns)

scaler = MinMaxScaler()
columns_to_normalize = ['Age', 'Fare']
if all(column in data.columns for column in columns_to_normalize):
    data[columns_to_normalize] = scaler.fit_transform(data[columns_to_normalize])
    print("\nNormalized data (first 5 rows):")
    print(data[columns_to_normalize].head())
else:
    print(f"Error: One or more columns {columns_to_normalize} do not exist in the dataset.")
print("\nFirst 5 rows of the entire dataset with normalized columns:")
print(data.head())

Column names in the dataset:
Index(['CustomerID', 'Genre', 'Age', 'Annual_Income_(k$)', 'Spending_Score'], dtype='object')
Error: One or more columns ['Age', 'Fare'] do not exist in the dataset.

First 5 rows of the entire dataset with normalized columns:
   CustomerID   Genre  Age  Annual_Income_(k$)  Spending_Score
0           1    Male   19                  15              39
1           2    Male   21                  15              81
2           3  Female   20                  16               6
3           4  Female   23                  16              77
4           5  Female   31                  17              40

In [30]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
data = pd.read_csv('/content/Mall_Customers.csv')

print("Column names in the dataset:")
print(data.columns)
scaler = MinMaxScaler()
columns_to_normalize = ['Age', 'Annual_Income_(k$)']
if all(column in data.columns for column in columns_to_normalize):
    data[columns_to_normalize] = scaler.fit_transform(data[columns_to_normalize])
    print("\nNormalized data (first 5 rows):")
    print(data[columns_to_normalize].head())
    std_deviation = data[columns_to_normalize].std()

    print("\nStandard Deviation of normalized columns:")
    print(std_deviation)
else:
    print(f"Error: One or more columns {columns_to_normalize} do not exist in the dataset.")
print("\nFirst 5 rows of the entire dataset with normalized columns:")
print(data.head())

Column names in the dataset:
Index(['CustomerID', 'Genre', 'Age', 'Annual_Income_(k$)', 'Spending_Score'], dtype='object')

Normalized data (first 5 rows):
        Age  Annual_Income_(k$)
0  0.019231            0.000000
1  0.057692            0.000000
2  0.038462            0.008197
3  0.096154            0.008197
4  0.250000            0.016393

Standard Deviation of normalized columns:
Age                   0.268635
Annual_Income_(k$)    0.215285
dtype: float64

First 5 rows of the entire dataset with normalized columns:
   CustomerID   Genre       Age  Annual_Income_(k$)  Spending_Score
0           1    Male  0.019231            0.000000              39
1           2    Male  0.057692            0.000000              81
2           3  Female  0.038462            0.008197               6
3           4  Female  0.096154            0.008197              77
4           5  Female  0.250000            0.016393              40