<a href="https://colab.research.google.com/github/tharun-229/_ADM/blob/main/assigment-6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
data = pd.read_csv('/content/Titanic-Dataset.csv')

print(data)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [11]:
import pandas as pd
data = pd.read_csv('/content/Titanic-Dataset.csv')

missing_values = data.isnull().sum()
print("Missing values in each column:\n", missing_values)

missing_percentage = (missing_values / len(data)) * 100
print("\nPercentage of missing values in each column:\n", missing_percentage)

Missing values in each column:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Percentage of missing values in each column:
 PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64

In [17]:
data = pd.read_csv('/content/Titanic-Dataset.csv')

numerical_data = data.select_dtypes(include=['number'])

mean_values = numerical_data.mean()
median_values = numerical_data.median()
mode_values = numerical_data.mode().iloc[0]

# Print the results
print("Mean values for numerical columns:\n", mean_values)
print("\nMedian values for numerical columns:\n", median_values)
print("\nMode values for numerical columns:\n", mode_values)

Mean values for numerical columns:
 PassengerId    446.000000
Survived         0.383838
Pclass           2.308642
Age             29.699118
SibSp            0.523008
Parch            0.381594
Fare            32.204208
dtype: float64

Median values for numerical columns:
 PassengerId    446.0000
Survived         0.0000
Pclass           3.0000
Age             28.0000
SibSp            0.0000
Parch            0.0000
Fare            14.4542
dtype: float64

Mode values for numerical columns:
 PassengerId     1.00
Survived        0.00
Pclass          3.00
Age            24.00
SibSp           0.00
Parch           0.00
Fare            8.05
Name: 0, dtype: float64

In [14]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
columns_to_normilalize = ['Age', 'Fare']
data[columns_to_normilalize] = scaler.fit_transform(data[columns_to_normilalize])
data[columns_to_normilalize].head()

        Age      Fare
0  0.271174  0.014151
1  0.472229  0.139136
2  0.321438  0.015469
3  0.434531  0.103644
4  0.434531  0.015713

In [16]:
from sklearn.preprocessing import MinMaxScaler
data = pd.read_csv('/content/Titanic-Dataset.csv')

scaler = MinMaxScaler()
columns_to_normalize = ['Age', 'Fare']

data[columns_to_normalize] = scaler.fit_transform(data[columns_to_normalize])
print("Normalized data (first 5 rows):")
print(data[columns_to_normalize].head())

std_deviation = data[columns_to_normalize].std()

print("\nStandard Deviation of normalized columns:")
print(std_deviation)

Normalized data (first 5 rows):
        Age      Fare
0  0.271174  0.014151
1  0.472229  0.139136
2  0.321438  0.015469
3  0.434531  0.103644
4  0.434531  0.015713

Standard Deviation of normalized columns:
Age     0.182540
Fare    0.096995
dtype: float64